.btn {
	padding: 12px 30px;
	color: #ffffff;
	font-size: 14px;
	line-height: 120%;
	background-color: #9900cc;
	border-radius: 6px;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.3s;
	&:hover {
		color: #fff;
		opacity: 0.7;
		transition: 0.3s;
	}
}
