extends base.pug
block content
	div(class="page-block page-404")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1(class="mb-5")
						| 404
					p(class="text-center")
						| Страница не найдена
