doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")
		title Джино пицца + суши, паста | доставка | на вынос
	body
		header(class="header-page")
			div(class="header-page__up")
				div(class="container")
					div(class="row")
						div(class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start pb-3 pb-lg-0")
							a(class="logo mr-lg-3" href="#")
								img(class="lazyload" data-src="images/logo.png" alt="logo img")
							div(class="header-info d-none d-lg-block")
								span(class="m-0")
									| Доставка | На вынос
						div(class="col-12 col-lg-6 d-flex flex-column align-items-center align-items-lg-end justify-content-center")
							a(class="phone mb-2" href="tel:83517500191")
								img(class="lazyload" data-src="images/phone.svg" alt="phone img")
								span(class="m-0")
									| 8 (351) 750-01-91
							span(class="location m-0")
								img(class="lazyload" data-src="images/pin.svg" alt="location img")
								span(class="m-0")
									| Челябинск, ул.Ак. Сахарова, 11
			div(class="header-page__down" id="header-page__down")
				div(class="container")
					div(class="row")
						div(class="col-12 header-page__down-nav")
							- var menuLink = ["m1", "m2", "m3", "m4", "m5", "m6", "m7", "m8", "m9"]
							- var menuItems = ["Пицца", "Сеты", "Суси и суши", "Роллы", "Закуски", "Напитки", "Чизкейки", "Акции", "Салаты"]
							- for (var i = 0; i < menuItems.length; i++)
								a( href=("#"+menuLink[i])  class="header-page__navigation-item")
									= menuItems[i]
		block content
		a(class="cart" href="#")
			span(class="w-100 h-100 d-flex justify-content-center align-items-center position-relative")
				<svg style="stroke:#9900cc;"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"> 
					<path fill="none" stroke-width="2" stroke-miterlimit="10" d="M44 18h10v45H10V18h10z"></path> 
					<path fill="none" stroke-width="2" stroke-miterlimit="10" d="M22 24V11c0-5.523 4.477-10 10-10s10 4.477 10 10v13"></path>
				</svg>
				span(class="cart__count")
					| 1
	script(src="js/main.min.js")
