extends base.pug
block content
	div(class="cart-page")
		div(class="container")
			div(class="row cart-page-border")
				- for (var i = 0; i < 1; i++)
					form(class="col-12 cart-page__item" action="" method="")
						div(class="row")
							div(class="col-12 col-lg-2 pb-4 pb-lg-0")
								a(class="cart-preview" href="#")
									img(class="lazyload img-fluid" data-src="images/product.jpg" alt="img")
							div(class="col-12 col-lg-5 d-flex align-items-center pb-4 pb-lg-0")
								a(href="#" class="cart-title")
									| Название товара
							div(class="col-4 col-lg-2 d-flex align-items-center")
								input(class="form-control input-number" type="number" min="1" step="1")
							div(class="col-4 col-lg-2 d-flex align-items-center")
								div(class="cart-price")
									| 850 р.
							div(class="col-4 col-lg-1 d-flex align-items-center")
								button(type="submit" class="cart-remove")
									img(class="lazyload" data-src="images/arrows_circle_remove.svg" alt="img")
				div(class="col-12 pt-3 d-flex justify-content-end")
					span(class="final-price")
						b
							| 1900 р.
			div(class="row pt-5")
				div(class="col-12 col-lg-6")
					span(class="d-block title")
						| Оформить заказ
					<form>
						<div class="form-group">
							<label for="InputEmail1">Имя</label>
								<input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Ваше имя">
						</div>
						<div class="form-group">
							<label for="InputPhone">Телефон</label>
								<input type="email" class="form-control" id="InputPhone" aria-describedby="emailHelp" placeholder="Ваше имя">
						</div>
						<div class="form-group">
							<label>Вариант доставки</label>
							<div class="form-check">
								<label class="form-check-label">
								<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
								| Самовывоз
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
								<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
								| Доставка 50 руб. (Зеленая зона доставки на сайте)
								</label>
							</div>
							<div class="form-check disabled">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
									| Доставка 100 руб. (Оранжевая зона доставки на сайте)
								</label>
							</div>
						</div>
						<div class="form-group">
							<label for="InputAdres">Адрес</label>
								<input type="email" class="form-control" id="InputAdres" aria-describedby="emailHelp" placeholder="Адрес">
						</div>
						<button type="submit" class="btn ">Оформить</button>
					</form>
