extends base.pug
block content
	div(class="page-block")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1(class="title")
						| Акции
			div(class="row")
				- for (var i = 0; i < 6; i++)
					div(class="col-12 col-md-6 col-lg-3 pb-5")
						form(class="product" action="" method="")
							div(class="preview")
								img(class="lazyload img-fluid" data-src="images/product.jpg" alt="product img")
								div(class="product__stock")
									span(class="product__sale")
										| акция
							div(class="content")
								h3(class="product__title")
									| Комбо 3 пиццы
								p(class="product__description")
									| Мясная, Пепперони, Маргарита. 30см.
								p(class="product__options  mb-2")
									| Вес: 650 гр.
								div(class="price")
									span(class="price_new")
										| 990 р.
									span(class="price_old")
										| 1 200 р.
							div(class="settings")
								span(class="settings__title")
									| Диаметр
								select(class="mb-3")
									option
										| 30 см.
									option
										| 20 см.
								div(class="d-flex justify-content-start")
									button(class="btn" type="submit")
										| В корзину
	div(class="page-block" id="m1")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="title")
						| ПИЦЦА
			div(class="row")
				- for (var i = 0; i < 1; i++)
					div(class="col-12 col-md-6 col-lg-3 pb-5")
						form(class="product" action="" method="")
							div(class="preview")
								img(class="lazyload img-fluid" data-src="images/product.jpg" alt="product img")
								div(class="product__stock")
									span(class="product__sale")
										| акция
							div(class="content")
								h3(class="product__title")
									| Комбо 3 пиццы
								p(class="product__description")
									| Мясная, Пепперони, Маргарита. 30см.
								p(class="product__options mb-2")
									| Вес: 650 гр.
								div(class="price")
									span(class="price_new")
										| 990 р.
									span(class="price_old")
										| 1 200 р.
							div(class="settings")
								span(class="settings__title")
									| Диаметр
								select(class="mb-3")
									option
										| 30 см.
									option
										| 20 см.
								div(class="d-flex justify-content-start")
									button(class="btn" type="submit")
										| В корзину
	div(class="page-block" id="m2")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="title")
						| СЕТЫ
			div(class="row")
				- for (var i = 0; i < 1; i++)
					div(class="col-12 col-md-6 col-lg-3 pb-5")
						form(class="product" action="" method="")
							div(class="preview")
								img(class="lazyload img-fluid" data-src="images/product.jpg" alt="product img")
								div(class="product__stock")
									span(class="product__sale")
										| акция
							div(class="content")
								h3(class="product__title")
									| Комбо 3 пиццы
								p(class="product__description")
									| Мясная, Пепперони, Маргарита. 30см.
								p(class="product__options mb-2")
									| Вес: 650 гр.
								div(class="price")
									span(class="price_new")
										| 990 р.
									span(class="price_old")
										| 1 200 р.
							div(class="settings")
								span(class="settings__title")
									| Диаметр
								select(class="mb-3")
									option
										| 30 см.
									option
										| 20 см.
							div(class="d-flex justify-content-start")
								button(class="btn" type="submit")
									| В корзину
	div(class="page-block" id="m4")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="title")
						| САЛАТЫ
			div(class="row")
				- for (var i = 0; i < 1; i++)
					div(class="col-12 col-md-6 col-lg-3 pb-5")
						form(class="product" action="" method="")
							div(class="preview")
								img(class="lazyload img-fluid" data-src="images/product.jpg" alt="product img")
								div(class="product__stock")
									span(class="product__sale")
										| акция
							div(class="content")
								h3(class="product__title")
									| Комбо 3 пиццы
								p(class="product__description")
									| Мясная, Пепперони, Маргарита. 30см.
								p(class="product__options product__options_small mb-2")
									| Вес: 650 гр.
								div(class="price")
									span(class="price_new")
										| 990 р.
									span(class="price_old")
										| 1 200 р.
							div(class="d-flex justify-content-start")
								button(class="btn" type="submit")
									| В корзину
	div(class="page-block" id="m4")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="title")
						| РОЛЛЫ
			div(class="row")
				- for (var i = 0; i < 1; i++)
					div(class="col-12 col-md-6 col-lg-3 pb-5")
						form(class="product" action="" method="")
							div(class="preview")
								img(class="lazyload img-fluid" data-src="images/product.jpg" alt="product img")
								div(class="product__stock")
									span(class="product__sale")
										| акция
							div(class="content")
								h3(class="product__title")
									| Комбо 3 пиццы
								p(class="product__description")
									| Мясная, Пепперони, Маргарита. 30см.
								p(class="product__options mb-2")
									| Вес: 650 гр.
								div(class="price")
									span(class="price_new")
										| 990 р.
									span(class="price_old")
										| 1 200 р.
							div(class="d-flex justify-content-start")
								button(class="btn" type="submit")
									| В корзину
			div(class="row")
				div(class="col-12 d-flex justify-content-center")
					a(class="btn" href="#")
						| Загрузить еще
	div(class="page-block" id="m5")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="title")
						| СУШИ И СУСИ
			div(class="row")
				- for (var i = 0; i < 1; i++)
					div(class="col-12 col-md-6 col-lg-3 pb-5")
						form(class="product" action="" method="")
							div(class="preview")
								img(class="lazyload img-fluid" data-src="images/product.jpg" alt="product img")
								div(class="product__stock")
									span(class="product__sale")
										| акция
							div(class="content")
								h3(class="product__title")
									| Комбо 3 пиццы
								p(class="product__description")
									| Мясная, Пепперони, Маргарита. 30см.
								p(class="product__options product__options_small mb-2")
									| Вес: 650 гр.
								div(class="price")
									span(class="price_new")
										| 990 р.
									span(class="price_old")
										| 1 200 р.
							div(class="d-flex justify-content-start")
								button(class="btn" type="submit")
									| В корзину
	div(class="page-block" id="m6")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="title")
						| ЗАКУСКИ
			div(class="row")
				- for (var i = 0; i < 1; i++)
					div(class="col-12 col-md-6 col-lg-3 pb-5")
						form(class="product" action="" method="")
							div(class="preview")
								img(class="lazyload img-fluid" data-src="images/product.jpg" alt="product img")
								div(class="product__stock")
									span(class="product__sale")
										| акция
							div(class="content")
								h3(class="product__title")
									| Комбо 3 пиццы
								p(class="product__description")
									| Мясная, Пепперони, Маргарита. 30см.
								p(class="product__options product__options_small mb-2")
									| Вес: 650 гр.
								div(class="price")
									span(class="price_new")
										| 990 р.
									span(class="price_old")
										| 1 200 р.
							div(class="d-flex justify-content-start")
								button(class="btn" type="submit")
									| В корзину
	div(class="page-block" id="m7")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="title")
						| ЧИЗКЕЙКИ
			div(class="row")
				- for (var i = 0; i < 1; i++)
					div(class="col-12 col-md-6 col-lg-3 pb-5")
						form(class="product" action="" method="")
							div(class="preview")
								img(class="lazyload img-fluid" data-src="images/product.jpg" alt="product img")
								div(class="product__stock")
									span(class="product__sale")
										| акция
							div(class="content")
								h3(class="product__title")
									| Комбо 3 пиццы
								p(class="product__description")
									| Мясная, Пепперони, Маргарита. 30см.
								p(class="product__options product__options_small mb-2")
									| Вес: 650 гр.
								div(class="price")
									span(class="price_new")
										| 990 р.
									span(class="price_old")
										| 1 200 р.
							div(class="d-flex justify-content-start")
								button(class="btn" type="submit")
									| В корзину
									
									
	div(class="page-block" id="m8")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="title")
						| НАПИТКИ
			div(class="row")
				- for (var i = 0; i < 4; i++)
					div(class="col-12 col-md-6 col-lg-3 pb-5")
						form(class="product" action="" method="")
							div(class="preview")
								img(class="lazyload img-fluid" data-src="images/Coca_Cola_2_.png" alt="product img")
								div(class="product__stock")
									span(class="product__sale")
										| акция
							div(class="content")
								h3(class="product__title text-center")
									| Комбо 3 пиццы
								p(class="product__description text-center")
									| Сок 1 литр
								div(class="price price_center")
									span(class="price_new")
										| 990 р.
							div(class="d-flex justify-content-center")
								button(class="btn" type="submit")
									| В корзину
	div(class="page-block" id="m9")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="title")
						| ДОБАВКИ И СОУСЫ
			div(class="row")
				- for (var i = 0; i < 1; i++)
					div(class="col-12 col-md-6 col-lg-3 pb-5")
						form(class="product" action="" method="")
							div(class="preview")
								img(class="lazyload img-fluid" data-src="images/Coca_Cola_2_.png" alt="product img")
								div(class="product__stock")
									span(class="product__sale")
										| акция
							div(class="content")
								h3(class="product__title text-center")
									| Комбо 3 пиццы
								p(class="product__description text-center")
									| Сок 1 литр
								p(class="product__options product__options_small text-center")
									| Вес: 30гр.
								div(class="price price_center")
									span(class="price_new")
										| 990 р.
							div(class="d-flex justify-content-center")
								button(class="btn" type="submit")
									| В корзину
	div(class="page-block page-block_dark pb-3")
		div(class="container")
			div(class="row")
				div(class="col-12 d-flex flex-column align-items-center")
					a(class="title text-light text-center" href="tel:750-01-91")
						| ЗАКАЗ/ДОСТАВКА<br>750-01-91
					p(class="text-light text-center mb-1")
						b
							| Джино пицца
					p(class="text-light text-center mb-1")
						| ул.Ак. Сахарова,11, Челябинск, Россия
					p(class="text-light text-center mb-1")
						| телефон: (351) 750-01-91
					p(class="text-light text-center mb-1")
						| E-mail руководителя для отзывов и предложений: genopizza@mail.ru
					p(class="text-light text-center mb-1")
						| Часы работы:
					p(class="text-light text-center mb-1")
						| ВС-ЧТ 11:00 - 22:00
					p(class="text-light text-center mb-1")
						| ПТ, СБ 11:00 - 23:00
					p(class="text-light text-center mb-1")
						b
							| Доставка осуществляется от 500 рублей (Зеленая зона), от 800 рублей (Оранжевая зона)
					p(class="text-light text-center mb-3")
						| Стоимость доставки 50 рублей (зеленая зона), 100 рублей (оранжевая зона), 250 рублей (синяя зона)
					p(class="text-light text-center mb-1")
						| Бесплатная доставка при заказе от 1000 рублей (акция только для Зелёной и Оранжевой зоны, Синяя зона доставки оплачивается по полному тарифу).
					p(class="text-light text-center mb-1")
						| Заказы на доставку заканчивают приниматься за 30 минут до закрытия.
	div(class="page-block page-block-delivery")
		div(class="container")
			div(class="row pb-5")
				div(class="col-12")
					div(class="social d-flex justify-content-center pb-5")
						a( class="mr-2" href="https://vk.com/dzhino_dostavka" target="_blank")
							<svg class="t-sociallinks__svg" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
								<desc>VK</desc>
								<path style="fill:#0026ff;" d="M47.761,24c0,13.121-10.639,23.76-23.76,23.76C10.878,47.76,0.239,37.121,0.239,24c0-13.123,10.639-23.76,23.762-23.76C37.122,0.24,47.761,10.877,47.761,24 M35.259,28.999c-2.621-2.433-2.271-2.041,0.89-6.25c1.923-2.562,2.696-4.126,2.45-4.796c-0.227-0.639-1.64-0.469-1.64-0.469l-4.71,0.029c0,0-0.351-0.048-0.609,0.106c-0.249,0.151-0.414,0.505-0.414,0.505s-0.742,1.982-1.734,3.669c-2.094,3.559-2.935,3.747-3.277,3.524c-0.796-0.516-0.597-2.068-0.597-3.171c0-3.449,0.522-4.887-1.02-5.259c-0.511-0.124-0.887-0.205-2.195-0.219c-1.678-0.016-3.101,0.007-3.904,0.398c-0.536,0.263-0.949,0.847-0.697,0.88c0.31,0.041,1.016,0.192,1.388,0.699c0.484,0.656,0.464,2.131,0.464,2.131s0.282,4.056-0.646,4.561c-0.632,0.347-1.503-0.36-3.37-3.588c-0.958-1.652-1.68-3.481-1.68-3.481s-0.14-0.344-0.392-0.527c-0.299-0.222-0.722-0.298-0.722-0.298l-4.469,0.018c0,0-0.674-0.003-0.919,0.289c-0.219,0.259-0.018,0.752-0.018,0.752s3.499,8.104,7.573,12.23c3.638,3.784,7.764,3.36,7.764,3.36h1.867c0,0,0.566,0.113,0.854-0.189c0.265-0.288,0.256-0.646,0.256-0.646s-0.034-2.512,1.129-2.883c1.15-0.36,2.624,2.429,4.188,3.497c1.182,0.812,2.079,0.633,2.079,0.633l4.181-0.056c0,0,2.186-0.136,1.149-1.858C38.281,32.451,37.763,31.321,35.259,28.999"></path>
							</svg>
						a(href="https://www.instagram.com/genopizza1/" target="_blank")
							<svg class="t-sociallinks__svg" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0 0 30 30" xml:space="preserve">
								<desc>Instagram</desc>
								<path style="fill:#0026ff;" d="M15,11.014 C12.801,11.014 11.015,12.797 11.015,15 C11.015,17.202 12.802,18.987 15,18.987 C17.199,18.987 18.987,17.202 18.987,15 C18.987,12.797 17.199,11.014 15,11.014 L15,11.014 Z M15,17.606 C13.556,17.606 12.393,16.439 12.393,15 C12.393,13.561 13.556,12.394 15,12.394 C16.429,12.394 17.607,13.561 17.607,15 C17.607,16.439 16.444,17.606 15,17.606 L15,17.606 Z"></path>
								<path style="fill:#0026ff;" d="M19.385,9.556 C18.872,9.556 18.465,9.964 18.465,10.477 C18.465,10.989 18.872,11.396 19.385,11.396 C19.898,11.396 20.306,10.989 20.306,10.477 C20.306,9.964 19.897,9.556 19.385,9.556 L19.385,9.556 Z"></path>
								<path style="fill:#0026ff;" d="M15.002,0.15 C6.798,0.15 0.149,6.797 0.149,15 C0.149,23.201 6.798,29.85 15.002,29.85 C23.201,29.85 29.852,23.202 29.852,15 C29.852,6.797 23.201,0.15 15.002,0.15 L15.002,0.15 Z M22.666,18.265 C22.666,20.688 20.687,22.666 18.25,22.666 L11.75,22.666 C9.312,22.666 7.333,20.687 7.333,18.28 L7.333,11.734 C7.333,9.312 9.311,7.334 11.75,7.334 L18.25,7.334 C20.688,7.334 22.666,9.312 22.666,11.734 L22.666,18.265 L22.666,18.265 Z"></path>
							</svg>
					p(class="text-center mb-1")
							| ЗОНА ДОСТАВКИ
					p(class="text-center mb-1")
							| Доставка осуществляется от 500 рублей (Зеленая зона), от 800 рублей (Оранжевая зона)
					p(class="text-center mb-3")
							| Доставка БЕСПЛАТНАЯ при заказе от 1000 р.
					p(class="text-center mb-1")
						b
							| При заказе менее 1000 р. стоимость доставки: Зеленая зона - 50 руб., Оранжевая зона - 100 руб.
					p(class="text-center mb-1")
						b
							| За пределы указанных зон доставка не осуществляется.
	div(class="map")
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acc0273f7ca31bbf28e1a9d0bc8ec332b72ce36195e2024b66a99133551a68483&amp;source=constructor" width="100%" height="511" frameborder="0"></iframe>
