/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";



.cart {
	position: fixed;
	right: 5%;
	top: 20%;
	border-radius: 100%;
	width: 80px;
	height: 80px;
	cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
	background: #fff;
	transition: transform 0.2s ease-in-out;
	border: 1px solid #9900cc;

	display: none;
	justify-content: center;
	align-items: center;
	svg {
		width: 40px;
	}
	&.cart_show {
		display: flex;
	}
	.cart__count {
		width: 30px;
		height: 30px;
		background-color: red;
		color: #fff;
		border-radius: 30px;
		position: absolute;
		right: -3px;
		bottom: -3px;
		text-align: center;
		line-height: 30px;
		font-family: Arial,Helvetica,sans-serif;
	}
}
.page-block {
	padding-top: 50px;
	&.page-block_dark {
		background: #111111;
	}
}
.page-block-delivery {
	p {
		font-size: 18px;
		line-height: 120%;
	}
}
.title {
	display: block;
	font-size: 46px;
	line-height: 120%;
	color: #000;
	font-weight: 700;
	margin: 0px;
	padding-bottom: 25px;
	&:hover {
		text-decoration: none;
	}
	@media (max-width: 991px) {
		font-size: 28px;
	}
}

.product {
	.preview {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		.product__stock {
			position: absolute;
			top: -10px;
			right: 0px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
		.product__sale {
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 400;
			font-size: 12px;
			text-transform: uppercase;
			min-width: 50px;
			height: 50px;
			border-radius: 50px;
			background-color: #ff4a4a;
			color: #fff;
			padding: 10px 10px;
		}
	}
	.content {
		padding: 25px 0 40px 0;
		.product__title {
			font-size: 16px;
			line-height: 120%;
			font-weight: 700;
			margin: 0px;
			color: #000;
			padding-bottom: 15px;
		}
		.product__description {
			font-weight: 300;
			color: #000;
			margin: 0px;
			font-size: 14px;
			padding-bottom: 15px;
		}
		.price {
			display: flex;
			&.price_center {
				justify-content: center;
			}
		}
		.price_new{
			font-size: 16px;
			font-weight: 400;
			line-height: 120%;
			margin-right: 4px;
			color: #000;
		}
		.price_old {
			font-size: 16px;
			font-weight: 400;
			line-height: 120%;
			color: #bdbdbd;
			text-decoration: line-through;
		}
		.product__options {
			font-size: 14px;
			line-height: 120%;
			font-weight: 700;
			color: #000;
			&.product__options_small {
				font-weight: normal;
			}
		}
	}
	.settings {
		select {
			max-width: 140px;
			width: 100%;
			padding: 4px 8px;
			border: 1px solid #bdbdbd;
			border-radius: 4px;
			background-color: #f8f8f8;
		}
		.settings__title {
			font-size: 14px;
			display: block;
			margin-bottom: 4px;
			line-height: 120%;
			color: #000;
		}
	}
}

.page-404 {
	h1 {
		text-align: center;
		font-size: 324px;
		line-height: 120%;
		@media (max-width: 1200px) {
			font-size: 240px;
		}
		@media (max-width: 991px) {
			font-size: 128px;
		}
	}
}
.cart-page-border {
	border-top: 1px solid rgba(0,0,0,.2);
}
.cart-page {
	padding: 60px 0 40px 0;
	.cart-page__item {
		padding: 20px 15px;
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
	.cart-preview {

	}

	.cart-title {
		font-size: 16px;
		line-height: 120%;
		color: #000;
		margin: 0px;
		padding: 0px;
		&:hover {
			color: #000;
		}
	}
	.cart-price, .final-price {
		font-size: 16px;
		line-height: 120%;
		color: #000;
	}
	.cart-remove {
		background: none;
		padding: 0px;
		border: 0px;
		img {
			width: 16px;
		}
	}
}
