.header-page {
	.header-info {
		color: #000000;
		font-size: 16px;
		line-height: 120%;
		font-weight: 400;
	}
	.header-page__up {
		padding: 15px 0px;
	}
	.header-page__down {
		background: #9900cc;
		padding: 15px 0px;
		.header-page__down-nav {
			 display: flex;
			 align-items: center;
			 justify-content: center;
			 flex-wrap: wrap;
		}
		&.scroll {
			position: fixed;
			top: 0px;
			left: 0px;
			right: 0px;
			z-index: 100;
			box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		}
	}
	.header-page__navigation-item {
		color: #ffffff;
		font-size: 13px;
		line-height: 120%;
		font-weight: 700;
		margin: 0px 5px;
		&:hover {
			text-decoration: none;
		}
	}

}
.logo {
	img {
		@media (max-width: 991px) {
			width: 100%;
			max-width: 230px;
		}
	}
}
.phone, .location {
	img {
		width: 30px;
		margin-right: 5px;
	}
	color: #000000;
	font-size: 18px;
	line-height: 120%;
	@media (max-width: 991px) {
		font-size: 14px;
	}
}
.phone {
	&:hover {
		text-decoration: none;
		color: #000000;
	}
}
